<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstrap.css"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Cliptube</title>
</head>

<body>

  <!--Navbar-->
  <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
    <div class="container">
      <a href="/" class="navbar-brand text-success"><strong>ClipTube</strong></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          {{#if user}}
            <li class="nav-item">
              <a href="#" class="nav-link text-success">Hello {{user.username}}</a>
            </li>
            <li class="nav-item">
              <a href="/teach" class="nav-link text-success">Teach</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link text-success">Logout</a>
            </li>
          {{else}}
            <li class="nav-item">
              <a href="/login" class="nav-link text-success">Login</a>
            </li>
            <li class="nav-item">
              <a href="/register" class="nav-link text-success">Register</a>
            </li>
          {{/if}}
          <li class="nav-item">
            <a href="/learn" class="nav-link text-success">Learn</a>
          </li>
          <li class="nav-item">
            <a href="/playlist" class="nav-link text-success">Playlist</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {{{body}}}

  <footer class="main-footer py-5 bg-dark text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6 ml-auto">
          <p class="lead">
            Copyright &copy; <span id="year"></span> 
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script>
    $('#year').text(new Date().getFullYear());
  </script>
</body>

</html>