<section id="learn-section">
  <div class="dark-overlay">
    <div class="main-inner container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          {{#if successMsg}}
          <div class="alert alert-success">{{successMsg}}</div>
          {{/if}}
          
          {{#if errorMsg}}
          <div class="alert alert-danger">{{errorMsg}}</div>
          {{/if}}
          
          {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          <!--search modal-->
          <div class="modal" id="register-modal">
            <div class="card bg-primary text-center card-form modal-body">
              <div class="card-body">
                <h3>Paste Clipword Below</h3>
                <form action="/learn" method="POST">
                  <div class="form-group">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg" placeholder="keyword" name="clipword">
                    </div>
                    <input type="submit" value="Search Clipword" class="btn btn-outline-class btn-block" id="modal-login">
                  </div>
                </form>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</section>

