<section id="playlist-section">
  <div class="container">
    {{#if clips}}
    {{#each clips}}
    <div class="row my-5">
      <div class="col-md-6 self-align-center">
        <div class="card bg-primary text-center card-form">
          <div class="card-body">
            <iframe src="https://www.youtube.com/embed/{{this.videoId}}" frameborder="0" height="200" width="100%" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
      <div class="col-md-3 mx-auto">
        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h3>{{this.clipword}}</h3>
          </div>
        </div>
        <div class="card text-center bg-primary text-white mb-3">
          <div class="card-body">
            <h3>Teacher</h3>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>
</section>