<section id="main-section">
  <div class="container">
    <div class="dark-overlay">
      <div class="main-inner container">
        <div class="row">
          
          <div class="col-md-6 mx-auto">
            {{#if successMsg}}
            <div class="alert alert-success">{{successMsg}}</div>
            {{/if}}
            
            {{#if errorMsg}}
            <div class="alert alert-danger">{{errorMsg}}</div>
            {{/if}}
            
            {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
            {{/if}}
            <!--register modal-->
            <div class="modal" id="register-modal">
              <div class="card bg-success text-center card-form modal-body">
                <div class="card-body">
                  <h3>Register as a Student</h3>
                  <form>
                    <div class="form-group">
                      <div class="form-group">
                        <input type="email" class="form-control form-control-lg" placeholder="Email" name="email">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Firstname" name="firstname">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Lastname" name="lastname">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control form-control-lg" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control form-control-lg" placeholder="Confirm Password">
                      </div>
                      <input type="submit" value="Submit" class="btn btn-outline-class btn-block">
                    </div>
                  </form>
                  <p>Registered Already? <span id="modal-login">Login here</span></p>
                </div>
              </div>
            </div>

            <!--login modal-->
            <div class="modal" id="login-modal">
              <div class="card bg-success text-center card-form modal-body">
                <div class="card-body">
                  <h3>Student Login</h3>
                  <form>
                    <div class="form-group">
                      <div class="form-group">
                        <input type="email" class="form-control form-control-lg" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control form-control-lg" placeholder="Password">
                      </div>
                      <input type="submit" value="Submit" class="btn btn-outline-class btn-block">
                    </div>
                  </form>
                  <p>Don't have an account? <span id="modal-register">Register here</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var switch2login = document.getElementById('modal-login');
  var switch2reg = document.getElementById('modal-register');
  var loginModal = document.getElementById('login-modal');
  var regModal = document.getElementById('register-modal');

  switch2login.addEventListener('click', (e) => {
    e.preventDefault();
    regModal.style.display = 'none';
    loginModal.style.display = 'block'
  })

  switch2reg.addEventListener('click', (e) => {
    e.preventDefault();
    loginModal.style.display = 'none';
    regModal.style.display = 'block';
  })
</script>
