<section id="teach-section">
  <div class="dark-overlay">
    <div class="main-inner container">
      <div class="row">
        
        <div class="col-md-6 mx-auto">
          {{#if successMsg}}
          <div class="alert alert-success">{{successMsg}}</div>
          {{/if}}
          
          {{#if errorMsg}}
          <div class="alert alert-danger">{{errorMsg}}</div>
          {{/if}}
          
          {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          <div class="card bg-success text-center card-form">
            <div class="card-body">
              <h3>Add Youtube Links</h3>
              <form action="/teach" method="POST">
                <div class="form-group">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="keyword" name="clipword">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="url" name="url">
                  </div>
                  <input type="submit" value="Submit" class="btn btn-outline-class btn-block">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

