<section id="learn-section">
  <div class="dark-overlay">
    <div class="main-inner container">
      <div class="row">
        <div class="col-md-9 mx-auto">
          {{#if successMsg}}
          <div class="alert alert-success">{{successMsg}}</div>
          {{/if}}

          {{#if errorMsg}}
          <div class="alert alert-danger">{{errorMsg}}</div>
          {{/if}}

          {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          <!--video modal-->
          <h3>Pay Attention!</h3>
          
          
          <div id="login-modal">
            <div class="card bg-primary text-center card-form modal-body">
              <div class="card-body">
                {{#if video}}
                <iframe src="https://www.youtube.com/embed/{{video}}" frameborder="0" height="350" width="100%"
                  allowfullscreen>
                </iframe>
                {{/if}}
              </div>
              <button class="btn btn-outline" id="modal-register">Close</button>
            </div>
          </div>
          


        </div>
      </div>
    </div>

  </div>
</section>

